@model FisioCard.Models.Disponibilidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disponibilidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissional.ProfissionalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DisponibilidadeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
